body {
  background-image: url(images/livebandfade.jpg);
  position: fixed;
  background-size: cover;
  text-align: center;
  padding: 0 2em 0 2em;
}

.container {
}

h1 {
  font-family: 'Roboto', serif;
  font-size: 54px;
  font-weight: 600;
  text-transform: capitalize;
}

h5 {
  font-family: 'Roboto', serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

hr {
  border: 2px;
  border-color: black;
  padding-bottom: 1em;
}

.player {
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  text-align: center;
  align-content: center;
  width: 400px;
  border-radius: 12px;
  border: 1px solid blue;
  padding: .5em 0;
  margin-bottom: 1em;
}

button {
  font-family: 'Roboto', serif;
  padding: .5em 0;
  margin-bottom: 1em;
  border-radius: 12px;
  width: 100px;
  border: 1px solid blue;
  background-color: white;
}

.results {
}
